<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-2">
<form name="regForm" class="form-horizontal" ng-submit="register.regUser(regData, regForm.$valid);" novalidate>
  <fieldset>
  
  <div id="legend">
      <h3>Register</h3>
  </div>    

    <div class="row">
      <div class="col-lg-6">
        <div ng-class="{'has-success':(regForm.fname.$valid && !regForm.fname.$pristine),'has-error':(!regForm.fname.$valid && !regForm.fname.$pristine) || (!regForm.fname.$valid && regForm.$submitted)}">
          <!-- Name -->
          <label for="fname">First Name:</label>
          <input type="text" name="fname" ng-model="register.regData.fname" placeholder="Please enter your first name" class="form-control" ng-pattern="/^([a-zA-Z]{2,20})+$/" ng-minlength="2" ng-maxlength="20" required>
          <span class="help-block" ng-show="(!regForm.fname.$pristine && regForm.fname.$error.required) || (regForm.$submitted && regForm.fname.$error.required)">This Field is required</span>
          <ul class="help-block" ng-show="(!regForm.fname.$pristine && regForm.fname.$error.pattern) || (!regForm.fname.$pristine && regForm.fname.$error.maxlength)">
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be atleast 2 characters but no more than 20</li>
          </ul>

        </div>
      </div>
      <div class="col-lg-6">
        <div ng-class="{'has-success':(regForm.lname.$valid && !regForm.lname.$pristine),'has-error':(!regForm.lname.$valid && !regForm.lname.$pristine) || (!regForm.lname.$valid && regForm.$submitted)}">
          <!-- Name -->
          <label for="lname">Last Name:</label>
          <input type="text" id="lname" name="lname" ng-model="register.regData.lname" placeholder="Please enter your last name" class="form-control" ng-pattern="/^([a-zA-Z]{2,20})+$/" ng-minlength="2" ng-maxlength="20" required>
          <span class="help-block" ng-show="(!regForm.lname.$pristine && regForm.lname.$error.required) || (regForm.$submitted && regForm.lname.$error.required)">This Field is required</span>
          <ul class="help-block" ng-show="(!regForm.lname.$pristine && regForm.lname.$error.pattern) || (!regForm.lname.$pristine && regForm.lname.$error.maxlength)">
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be atleast 2 characters but no more than 20</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Username -->
    <div ng-class="{'has-success':(regForm.username.$valid && !regForm.username.$pristine && !register.usernameInvalid),'has-error':(!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) || register.usernameInvalid}">
      <!-- Username -->
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" ng-blur="register.checkUsername(regData)" ng-model="register.regData.username" placeholder="Please enter username" class="form-control" ng-pattern="/^[a-z0-9_-]{3,15}$/" ng-minlength="3" ng-maxlength="25" required>
      <span class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">This Field is required</span>
      <span ng-show="register.checkingUsername" class="glyphicon glyphicon-repeat"></span><span class="help-block" ng-show="register.usernameMsg && !regForm.username.$error.required && regForm.username.$valid">{{ register.usernameMsg }}</span>
      <ul class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.maxlength)">
            <li>Must not contain any special characters</li>
            <li>Must not contain any spaces</li>
            <li>Must be atleast 3 characters but no more than 25</li>
          </ul>
    </div>
 
    <!-- Email -->
    <div ng-class="{'has-success':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid),'has-error':(!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted) || register.emailInvalid}">
      <!-- E-mail -->
      <label for="email">E-mail</label>      
      <input type="text" id="email" name="email" ng-blur="register.checkEmail(regData)" ng-model="register.regData.email" placeholder="Please enter Email" class="form-control" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' ng-minlength="3" ng-maxlength="25" required>
      <span class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">This Field is required</span>
      <span ng-show="register.checkingEmail" class="glyphicon glyphicon-repeat"></span><span class="help-block" ng-show="register.emailMsg && !regForm.email.$error.required && regForm.email.$valid">{{ register.emailMsg }}</span>
      <ul class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.maxlength)">
        <li>Kindly enter a valid email between 2 to 25 characters long.</li>
      </ul>
    </div>
 
  <!-- Password-->
    <div ng-class="{'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine),'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted)}">
      <!-- Password-->
      <label for="password">Password</label>
      <input type="password" id="password" name="firstPassword" ng-model="firstPassword" placeholder="Please enter password" class="form-control" ng-pattern="/^(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/" ng-minlength="8" ng-maxlength="35" required>   
      <span class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This Field is required</span>
      <ul class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)">
        <li>Must have at least one upper case letter.</li>
        <li>Must have at least one lower case letter.</li>
        <li>Must have at least one number.</li>
        <li>Must be between 8 to 35 characters long.</li>
      </ul>  
    </div>
 	<br/>
    <!-- Confirm Password-->
    <div ng-class="{'has-success':confirmed && !regForm.cpassword.$error.required,'has-error':(!confirmed && !regForm.cpassword.$error.required) || (regForm.cpassword.$error.required && !regForm.cpassword.$pristine) || (regForm.$submitted && regForm.cpassword.$error.required)}">
      <!-- Confirm Password-->
      <label for="cpassword">Confirm Password</label>
      <input type="password" id="cpassword" name="cpassword" ng-model="confirm" placeholder="Please Confirm password" match="{{[firstPassword]}}" ng-change="register.regData.password = confirm" class="form-control" required>   
      <span class="help-block" ng-show="(!regForm.cpassword.$pristine && regForm.cpassword.$error.required) || (regForm.$submitted && regForm.cpassword.$error.required)">This Field is required</span> 
      <span class="help-block" ng-show="!confirmed && !regForm.cpassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</span>
    </div>
  <br/>

    <div class="row">
      <div class="col-lg-6">
        <div class="control-group">
          <!-- Button -->
          <button type="submit" class="btn btn-success">Register</button>      
        </div>
      </div>
      <div class="col-lg-6">
      <!--  -->
      <div ng-show="register.loading">
        <h4><span class='fa fa-circle-o-notch fa-spin'></span>&nbsp;&nbsp;Registering...</h4>
      </div>
    </div>
    </div>

  </fieldset>
</form>

</div>
</div>

<br/>

<div class="row show-hide-message" ng-show="register.successMsg">
	<div class="alert alert-success">{{register.successMsg}}</div>
</div>

<br/>

<div class="row show-hide-message" ng-show="register.errorMsg">
	<div class="alert alert-danger">{{register.errorMsg}}</div>
</div>

</div>