<div class="content-section-a">
<div class="container-fluid">
	<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">            
          <ul class="nav nav-sidebar">
            <li><a href="/management">User Management</a></li>
            <li class="active"><a href="/management/projects">Projects to Approve</a></li>            
          </ul>
        </div>
		<div class="col-sm-9 col-md-10 col-lg-9">
		    <div id="legend">
		      <h3>Projects to be Approved</h3>
		    </div>
		</div>
		<div class="col-lg-6">
		<!--  -->
		<div ng-show="management.loading">
		  <h4><span class='fa fa-circle-o-notch fa-spin'></span>&nbsp;&nbsp;Loading...</h4>
		</div>
		</div>
	</div>
	<div class="row">
    <div class="col-sm-3 col-md-2 sidebar"></div>
    <div class="col-sm-9 col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>          
            <th>Address</th> 
            <th>Fund Goal</th> 
            <th>Duration</th> 
            <th>Approved</th>
            <th>Completed</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="projectManagement.noProjects">
            <td colspan="10" style="text-align: center;">No Projects Available</td>
          </tr>
          <tr ng-repeat="p in projectManagement.projects">
            <td>{{p.title}}</td>
            <td>{{p.description}}</td>
            <td>{{p.category}}</td>
            <td>{{p.address}}</td>
            <td>{{p.goal}}</td>
            <td>{{p.duration}}</td>
            <td>
            	<span ng-if="p.authorized == 0">Pending</span>
            	<span ng-if="p.authorized == 1">Yes</span>
            	<span ng-if="p.authorized == -1">No</span>
            </td>
            <td>{{p.complete}}</td>
            <td>{{p.createdAt | date : "MMMM d, y h:mm a"}}</td>
            <td>{{p.updatedAt | date : "MMMM d, y h:mm a"}}</td>    
            <td>
            	<button ng-click="projectManagement.approve(p.projectId)" ng-show="(!p.escalate) || (projectManagement.isAdmin)" type="button" class="btn btn-primary">Approve</button>            	
            </td>
            <td>
	            <button type="button" ng-show="(!p.escalate || projectManagement.isModerator) && !projectManagement.isAdmin" ng-click="projectManagement.escalateButton(p.projectId, p.title)" class="btn btn-danger">Escalate</button>
	            <button type="button" ng-show="(p.escalate || projectManagement.isModerator) && !projectManagement.isAdmin" disabled="disabled" class="btn btn-danger">Escalated</button>
	            <button ng-click="projectManagement.decline(p.projectId)" ng-show="projectManagement.isAdmin" type="button" class="btn btn-danger">Decline</button>            	
            </td>            
          </tr>
          <tr></tr> 
        </tbody>    
      </table>            
      </div>
    </div>   

    <div ng-show="projectManagement.load" class="loading"></div>
<div class="row show-hide-message" ng-show="projectManagement.successMsg">
  <div class="alert alert-success">{{projectManagement.successMsg}}</div>
</div>

<br/>

<div class="row show-hide-message" ng-show="projectManagement.errorMsg">
  <div class="alert alert-danger">{{projectManagement.errorMsg}}</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="escalateProjectModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="color:#000" class="modal-title">Escalate Project</h4>
      </div>
      <div class="modal-body" style="background-color:grey">
        <form id="addProjects" class="form-horizontal" ng-submit="projectManagement.escalate(escalateData, title, projectId);">
           <div class="margin-bottom-40" style="background-color:grey">
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="title" class="col-lg-2 control-label">Title</label>
                  <div class="col-lg-10">
                    <input type="text" disabled="disabled" id="title" name="title" ng-model="title" placeholder="Project Title" class="form-control">
                    <input type="hidden" id="projectId" name="projectId" ng-model="projectId" placeholder="Project Id" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="description" class="col-lg-2 control-label">Reason</label>
                  <div class="col-lg-10">
                    <textarea id="reason" rows="6" name="reason" ng-model="projectManagement.escalateData.reason" placeholder="Reason" class="form-control">
                    </textarea>
                  </div>
                </div>      
                <div class="form-group">
                <div class="col-lg-9">
                </div>
                  <div class="col-lg-3">
                    <button type="submit" class="btn btn-primary">Escalate</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </form>       
      </div>
    </div>
    
  </div>
</div>

</div>